<div class="float-tw">
    <div class="fl-fl float-fb fl-github">
        <a href="https://github.com/shompaa" target="_blank">
            <span> Mis trabajos!</span>
            <i class="fa fab fa-github"></i>
        </a>
    </div>
    <div class="fl-fl float-tw fl-linkedin">
        <a href="https://www.linkedin.com/in/nicolasnahuelpan" target="_blank">
            <span> Contactame!</span>
            <i class="fa fab fa-linkedin"></i>
        </a>
    </div>
    <div class="fl-fl float-gp fl-email">
        <a href="mailTo:nico_nahuelpan@hotmail.com" target="_blank">
            <span> Contactame!</span>
            <i class="fa fas fa-envelope"></i>
        </a>
    </div>
</div>
