<footer id="footer" class="footer_area gray-bg pt-115 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer_content text-center">
                    <ul class="footer_social">
                        <li><a href="https://github.com/shompaa" target="_blank" title="Ir a Github"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/nicolasnahuelpan" target="_blank" title="Ir a LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="mailTo:nico_nahuelpan@hotmail.com" title="Enviar correo "><i class="fas fa-envelope"></i></a></li>
                    </ul>
                    <span class="email ">nico_nahuelpan@hotmail.com</span>
                    <ul class="footer_menu ">
                        <li><a href="#home ">Inicio</a></li>
                        <li><a href="#about ">Sobre mi</a></li>
                        <li><a href="#work ">Experiencia</a></li>
                        <li><a href="#others ">Otros</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
