<section class="header_area">
    <app-navbar></app-navbar>
    <div id="home" class="header_hero">
        <ul class="header_social d-none d-lg-block">
            <li><a href="https://github.com/shompaa" target="_blank" title="Ir a Github"><i class="lni lni-github-original"></i></a></li>
            <li><a href="https://www.linkedin.com/in/nicolasnahuelpan" target="_blank" title="Ir a LinkedIn"><i class="lni lni-linkedin-original"></i></a></li>
            <li><a href="mailTo:nico_nahuelpan@hotmail.com" title="Enviar correo"><i class="lni lni-envelope"></i></a></li>
        </ul>
        <div class="container">
            <div class="row align-items-center justify-content-center justify-content-lg-between">
                <div class="col-lg-6">
                    <div class="header_hero_content mt-45">
                        <h5 class="header_sub_title animated fadeInUp slow">Hola, soy</h5>
                        <h2 class="header_title animated fadeInUp slow">Nicolas Nahuelpan</h2>
                        <span class="animated fadeInUp slow">{{ data.cargo }}</span>
                        <p class="animated fadeInUp slow">{{ data.descripcion }}</p>
                        <a [href]="data.cv" class="main-btn animated fadeInUp slow"><i class="lni lni-download"></i> Download CV</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-7">
                    <div class="header_hero_image mt-50 animated fadeInRightBig">
                        <img src="assets/images/developer.svg" alt="hero">
                    </div>
                </div>
            </div>
        </div>
        <div class="header_hero_shape d-none d-lg-block"></div>
    </div>
</section>