<section id="others" class="project_area pt-125">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <div class="section_title pb-30">
                    <h5 class="sub_title">Otros</h5>
                    <h3 class="main_title">Más de mí</h3>
                    <ul class="line">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <h5 class="sub_title text-center">Cursos y certificaciones</h5>
                <ul class="fa-ul mt-4">
                    <li><span class="fa-li"><span class="iconify" data-icon="whh:certificatealt" data-inline="false"></span></span> <a href="https://fernando-herrera.com/logros/#/nico_nahuelpan@hotmail.com" target="_blank"> Plataforma de certificados de Udemy prof. Fernando Herera</a></li>
                    <li><span class="fa-li"><span class="iconify" data-icon="whh:certificatealt" data-inline="false"></span></span> Certificación Excel nivel medio (Kibernum (SENCE)) 2014</li>
                    <li><span class="fa-li"><span class="iconify" data-icon="whh:certificatealt" data-inline="false"></span></span> Certificación Liderazgo, ética y emprendimiento (Kibernum (SENCE)) 2014.</li>
                    <li><span class="fa-li"><span class="iconify" data-icon="whh:certificatealt" data-inline="false"></span></span> Certificaciones de Duoc UC
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-caret-right"></i></span> Programación básica</li>
                            <li><span class="fa-li"><i class="fas fa-caret-right"></i></span> Análisis y desarrollo de modelos de datos</li>
                            <li><span class="fa-li"><i class="fas fa-caret-right"></i></span> Soporte computacional</li>
                            <li><span class="fa-li"><i class="fas fa-caret-right"></i></span> Programación avanzada</li>
                            <li><span class="fa-li"><i class="fas fa-caret-right"></i></span> Administración de sistemas operativos</li>
                            <li><span class="fa-li"><i class="fas fa-caret-right"></i></span> Seguridad computacional</li>
                            <li><span class="fa-li"><i class="fas fa-caret-right"></i></span> Administración de base de datos</li>
                            <li><span class="fa-li"><i class="fas fa-caret-right"></i></span> Arquitectura de sistemas computacionales</li>
                            <li><span class="fa-li"><i class="fas fa-caret-right"></i></span> Modelamiento de sistemas computacionales</li>
                            <li><span class="fa-li"><i class="fas fa-caret-right"></i></span> Auditoría y procesos computacionales</li>
                            <li><span class="fa-li"><i class="fas fa-caret-right"></i></span> Gestión de proyectos informáticos</li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="col-6">
                <h5 class="sub_title text-center">Hobbies e intereses</h5>
                <ul class="fa-ul mt-4">
                    <li><span class="fa-li"><i class="fas fa-gamepad"></i></span> Videojuegos</li>
                    <li><span class="fa-li"><i class="fas fa-birthday-cake"></i></span> Cocinar comidas dulces y saladas</li>
                    <li><span class="fa-li"><i class="fas fa-dumbbell"></i></span> Entrenamiento funcional</li>
                    <li><span class="fa-li"><i class="far fa-futbol"></i></span> Deportes</li>
                    <li><span class="fa-li"><i class="fas fa-code"></i></span> Programar</li>
                    <li><span class="fa-li"><i class="fas fa-graduation-cap"></i></span> Estudiar y aprender cosas nuevas</li>
                </ul>
            </div>
        </div>
    </div>
</section>
